{% load bots_template_tags %}
<h2>Robots</h2>
<button id="hide-show-robots-btn" value="show" /><br />
<table id="all-robots-table hidden="true">
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Value</th>
		<th>Wins/Losses</th>
		{% for key in stats %}
			<th>{{ key }}</th>
		{% endfor %}
	</tr>
	{% for robot in robots %}
		<tr id="bot-row-{{ robot.id }}">
						<td>{{ robot.name }}</td>
			<td>{{ robot.type }}</td>
			<td>{{ robot.value }}</td>
			<td>{{ robot.wins }}/{{ robot.losses }}</td>
			{% for stat in robot.get_stats %}
			<td id="{{ robot.id }}-{{ stat }}-td">
				{% get_bot_stat robot stat%}
			</td>
			{% endfor %}
		</tr >
	{% endfor %}
</table>