/* -------------------START navigation bar styling---------------------- */
/* navigation bar */
#nav-bar {
	background-color: #4f4f96;
	text-align:center;
	margin:auto;
	width:70%;
	height:50px;
	padding:10px;
	border-radius: 10px;
}

/* SCRAPBOTS */
#logo { 
	font-family:Impact;
	font-size:40px;
	font-weight:bold;
	float:left;
	color:white;
}

/* leaderboard, about */
#nav-link {
	color:white;
	padding:10px;
	font-family: helvetica;
	display:inline-block;
}

#nav-link:link, #dropdown-link:link { 
	text-decoration:none;
}

#nav-link:hover, #logo:hover, #dropdown-link:hover{	
	color:white;
	text-shadow: 1px 1px 2px lightblue, 0 0 25px lightblue, 0 0 5px lightblue;	
}

/* div containing 'play' button and menu div */
#dropdown{
float:right;
}

/* button for dropdown menu */
#play{	
	background-color:#6ca1cc;
	border:none;
    color: white;
	padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px	
}

#menu{
	background-color:#6ca1cc;
	position:absolute;
	min-width:10%;
	min-height:10%;
	box-shadow: 2px 2px 1px #aaaaaa;
	padding:10px;
	text-align:center;
}

#dropdown-link{
	font-family: helvetica;
	font-weight: bold;
	color: #4f4f96;
}

/* -------------------END navigation bar styling---------------------- */


/* -------------------START body styling---------------------- */
/*box for all contetn below navigation bar */
#content{	
	border-style:solid;
	border-color: dark blue;
	border-radius: 10px;
	margin:auto;
	width:70%;
	padding:10px;	
}

/* sections for player info, robots and friends */
#profile-section{
	width:30%;
	background-color: #ededed;	
	height:600px;
	display:inline-block;
	border-style:dotted;
	border-color:black;
	text-align:center;
}


/* section for overall leaderboards */
#section{
	width:30%;
	background-color: #ededed;
	max-width:30%;	
	height:400px;
	display: inline-block;
	float:center;
	border-style:dotted;
	border-color:black;
	text-align:center;
}
/* -------------------END body styling---------------------- */



/* text formatting */

/*header containing username in profile page */
#username{
	color: #6ca1cc;
	font-family:helvetica;
	font-size: 30px;
	
}

/*section headers in profile*/
#profile-header{
	color: #6ca1cc;
	font-family:helvetica;
	font-size: 20px;
	
}

/*section sub-headers in profile*/
#profile-sub-header{
	
	color: black;
	font-family:helvetica;
	font-size: 15px;
	
}

/*sort buttons for robot leaderboards in profile page */
#value, #wins {
	
	background-color:#6ca1cc;
	border: none;
	color:white;
}

#value:active, #wins:active {
	background-color: #4f4f96;
}





