#nav-bar {
	background-color: #4f4f96;
	text-align:center;
	margin:auto;
	width:70%;
	height:50px;
	padding:10px;
	border-radius: 10px;
}

#section{
	width:30%;
	background-color: #ededed;
	max-width:30%;	
	height:400px;
	display: inline-block;
	float:center;
	border-style:dotted;
	border-color:black;
}



#content{	
	border-style:solid;
	border-color: dark blue;
	border-radius: 10px;
	margin:auto;
	width:70%;
	padding:10px;	
}

#logo {
	font-family:Impact;
	font-size:40px;
	font-weight:bold;
	float:left
}

#nav-link {
	margin-top:5px;
	color:white;
	padding-right:20px;
	font-family: helvetica;
}

#nav-link:link { 
	text-decoration:none;
}

#nav-link:hover{
	
	color:white;
	text-shadow: 1px 1px 2px lightblue, 0 0 25px lightblue, 0 0 5px lightblue;	
}


#play{	
	background-color:#6ca1cc;
	border:none;
    color: white;
	padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px	
}



#menu{
	background-color:#6ca1cc;
	position:absolute;
	min-width:10%;
	min-height:10%;
	box-shadow: 2px 2px 1px #aaaaaa;
	padding:10px;
}

#dropdown-link{
	font-family: helvetica;
	font-weight: bold;
	color: #4f4f96;
}

#dropdown-link:link{
	text-decoration:none;
}

#dropdown-link:hover{	
	color:white;
	text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;	
}


#dropdown{
float:right;
}

