{% extends 'bots/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}


{% block content_block %}

<p> About SCRAPBOTS: <br>
SCRAPBOTS is a simple battling game which allows players to create robots using Scrap, battle other users' robots
and collect Scrap as a reward and to continuesly improve their robots and to improve their rank in the leaderboards
</p>
<p> Robots: <br>
Users have a choice of creating 3 types of robots: Aerial, Bipedal and Wheeled which all have certain
advantage over the other when first created
</p>

<p> Battles: <br>

	Users can anounce that they are open to battle by activiating the matchmaking button in
	their profile page and have a choice of battling with a team of 1,3 and 5 robots.

</p>


{% endblock %}