{% load bots_template_tags %}

<div>
    <div id = 'display_bot'>

        <!-- If user owns at least one robot -->
        {% if robot %}
            <table>

                <!-- displaying the selected robot's stats -->
                <tr><td>Type</td><td>{{ robot.type }}</td></tr>
                <tr><td>Wins</td><td>{{ robot.wins }}</td></tr>
                <tr><td>Losses</td><td>{{ robot.losses }}</td></tr>
                {% for stat, value in stats.items %}
		        <tr><td>{{ stat }}</td><td>{{ value }}</td>
			        {% if player.scrap|add:0 >= value|mult:25 %}
			        <td>
                        <!-- if user has enough scrap they can upgrade a stat -->
			            {% if editable %}
			        	<button class="stat-increase" data-stat="{{ stat }}" data-botid="{{ robot.name }}">+</button>
			        	{% endif %}
			        </td>
			        {% endif %}

		        </tr>
	            {% endfor %}

            </table>

        <!-- if user doesn't own any robots  -->
        {% else %}
            You don't currently own any Robots!
        {% endif %}
    </div>

</div>

