{% load bots_template_tags %}

<div>

    <div id = 'display_bot'>
        {% if robot %}
            <table>
                <tr><td>Type</td><td>{{ robot.type }}</td></tr>
                <tr><td>Wins</td><td>{{ robot.wins }}</td></tr>
                <tr><td>Losses</td><td>{{ robot.losses }}</td></tr>
                {% for stat, value in stats.items %}
		        <tr><td>{{ stat }}</td><td>{{ value }}</td>
			        {% if player.scrap|add:0 >= value|mult:25 %}
			        <td>
			        	<button class="stat-increase" data-stat="{{ stat }}" data-botid="{{ robot.name }}" />
			        </td>
			        {% endif %}

		        </tr>
	            {% endfor %}

            </table>


        {% else %}

            Error no robot found!
        {% endif %}
    </div>

</div>

