{% load bots_template_tags %}

<div>

    <h3>Create a New Robot</h3>


    {% if value player.scrap >= 7 %}

        <form name = 'CreateBot'>
            Name: <input type = 'text' name = 'bot_name' required>
            Type:
            <select>
                <option value = 'aerial'>Aerial</option>
                <option value = 'bipedal'>Bipedal</option>
                <option value = 'wheeled'>Wheeled</option>
            </select>

            <input type="{{ player.user.name }}" value="Submit">

        </form>






    {% else %}

        <strong>You don't have enough Scrap to make a new Robot!</strong>


    {% endif %}

</div>