{% load bots_template_tags %}

<div>

    <h3>Create a New Robot</h3>


    {% if player.scrap >= 7 %}

        <form name = 'CreateBot'>
            Name: <input id = 'new_bot_name' type = 'text' required>
            Type:
            <select>
                <option value = 'aerial'>Aerial</option>
                <option value = 'bipedal'>Bipedal</option>
                <option value = 'wheeled'>Wheeled</option>
            </select>

            <input type="submit" value="Submit">

        </form>

        <div id = 'create_bot_err'></div>




    {% else %}

        <strong>You don't have enough Scrap to make a new Robot!</strong>


    {% endif %}

</div>