{% extends 'bots/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Leaderboards
{% endblock %}

{% block content_block %}

	<!--START ROBOT LEADERBOARD-->
	<div id="section">
		<h3 id="profile-header"> Top Robots </h3>
		<ol>
		{% for bot in top_bots %}				
		<li>
		robot: {{bot}} <br>
		owned by: <a id="dropdown-link" href="{% url 'bots:show_profile' bot.owner %}"> {{bot.owner}} </a>
		</li><br>
		{% endfor %}	
		</ol>
	</div>
	<!--END ROBOT LEADERBOARD-->

	<!--START USER LEADERBOARD-->
	<div id="section">
		<h3 id="profile-header"> Top Users </h3>
		<ol>		
		{% for player in top_users %}				
		<li>
		<a id="dropdown-link" href="{% url 'bots:show_profile' player %}"> {{player}} </a>
		</li><br>	
		{% endfor %}
		</ol>
		
		
	</div>
	<!--END USER LEADERBOARD-->

{% endblock %}