{% extends 'bots/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Leaderboards
{% endblock %}

{% block content_block %}

	<!--START 1v1 LEADERBOARD-->
	<div id="section">
		<h3> Top Robots </h3>
		<ol>
		{% for bot in top_bots %}				
		<li>
		robot: {{bot}} <br>
		owned by: <a href="{% url 'bots:show_profile' bot.owner %}"> {{bot.owner}} </a>
		</li><br>
		{% endfor %}	
		</ol>
	</div>
	<!--END 1v1 LEADERBOARD-->

	<!--START 3v3 LEADERBOARD-->
	<div id="section">
		<h3> Top Users </h3>
		
		<ol>		
		{% for player in top_users %}				
		<li>
		<a href="{% url 'bots:show_profile' player %}"> {{player}} </a>
		</li><br>	
		{% endfor %}
		</ol>
		
		
	</div>
	<!--END 3v3 LEADERBOARD-->

{% endblock %}