{% load bots_template_tags %}
{% load static %}

<div id="matchmake-section">

<!-- battle requests received -->
<div id = '{{ size }}v{{ size }}_complete'>
    <h3 id="profile-header">{{ size }}V{{ size }} Battle</h3>
    <div>
        {% if valid %}
            {% for bot in team %}

                <div id = '{{ size }}v{{ size }}_{{ forloop.counter0 }}'>{{ bot }}</div>

            {% endfor %}
               
            <div><button id = '{{ size }}v{{ size }}_find_game'>Refresh Team!</button></div>

        {% else %}
                {% for bot in team %}
                    <select id = "{{ size }}v{{ size }}_{{ forloop.counter0 }}">

                        {% for robot in robots %}

                            <option value = "{{ robot.name }}">{{ robot.name }}</option>

                        {% endfor %}
                    </select>

                {% endfor %}

                    <button id = '{{ size }}v{{ size }}_find_game'>Find Game!</button>

        {% endif %}


    </div>

    <div id="matchmake-sub-section">

    <!-- users open for battle -->
    <div id = 'gameList'>
        {%if valid %}
        <table>
                <th colspan = 3><h4 id="profile-sub-header">Challenges I have received</h3></th>
            {% if received %}
            {% for i in received %}
            <tr>
                <td>{{ i.player.user.username }}</td>

                <td><select id = '{{ size }}_enemy'>
                    {% for bot in i.bots.all %}
                    <option value = '{{ bot.name }}'>{{ bot.name }}</option>
                    {% endfor %}
                </select></td>
                <td><button class = '{{ size }}v{{ size }}_play' value = '{{ i.player.user.username }}'>FIGHT!</button></td>
            </tr>
            {% endfor %}
            <tr><div id = '{{ size }}_enemy_stats'></div></tr>


            {% else %}
            <tr><td>You currently have no battle requests</td></tr>

            {% endif %}

        </table>

    </div>
    </div>




        <div id="matchmake-sub-section">

            {% if challengee %}
                You have already challenged {{ challengee.player.user.username }}, you must either refresh your team or wait for {{ challengee.player.user.username }} to accept your challenge!

            {% else %}
            <table>
                <th colspan = 3><h3 id="profile-sub-header">Players ready to be challenged</h3></th>
                {% for i in sent %}
                <tr>
                    <td>{{ i.player.user.username }}</td>

                    <td><select id = '{{ size }}_enemy'>
                        {% for bot in i.bots.all %}
                        <option value = '{{ bot.name }}'>{{ bot.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td><button class = '{{ size }}v{{ size }}_play' value = '{{ i.player.user.username }}'>FIGHT!</button></td>
                </tr>
                {% endfor %}
                <tr><div id = '{{ size }}_enemy_stats'></div></tr>
                </table>
            {% endif %}
        {% else %}
            <p>Please enter {{ size }} unique bots</p>

        {% endif %}

    </div>



</div>
</div>