{% load bots_template_tags %}


<div id = '{{ size }}v{{ size }}_complete'>
    <h3>{{ size }}V{{ size }}</h3>
    <div>
        {% if valid %}

            {% for bot in team %}


                <div id = '{{ size }}v{{ size }}_{{ forloop.counter0 }}'>{{ bot }}</div>


            {% endfor %}
                <div><button id = '{{ size }}v{{ size }}_find_game'>Refresh Team!</button></div>

        {% else %}
                {% for bot in team %}
                    <select id = "{{ size }}v{{ size }}_{{ forloop.counter0 }}">

                        {% for robot in robots %}

                            <option value = "{{ robot.name }}">{{ robot.name }}</option>

                        {% endfor %}
                    </select>

                {% endfor %}
                    <button id = '{{ size }}v{{ size }}_find_game'>Find Game!</button>

        {% endif %}


    </div>

    <div id = 'gameList'>
        {{ msg }}
        {%if valid %}

            <table>
            {% for i in games %}
            <tr>
                <td>{{ i.player.user.name }}</td>
            </tr>
            {% endfor %}
            </table>
        {% else %}
        <p>Please enter {{ size }} unique bots</p>

        {% endif %}


    </div>
</div>