<!DOCTYPE HTML>
{% extends 'bots/base.html' %}
{% load bots_template_tags %}
{% load staticfiles%}

{%block title_block %}
	{{player.user.username}}'s profile
{%endblock%}


{%block content_block %}
{% if player %}
	<!--START PROFILE SIDEBAR-->
	
	<div id="profile-section">
		<h3 id="username">{{player}}</h3>
		<h4 id="profile-sub-header"> Player information:</h4> <br>
		<b>Number of Robots:</b> {{number_of_robots}} <br>
		<b>Battles Won:</b> {{player.wins}} <br><br><hr>
		<b>Playing since:</b> <br>
		{{ player.user.date_joined }} <br>
	</div>
	<!--END PROFILE SIDEBAR-->
	<!--START ROBOTS SECTION-->
	<div id="profile-section">
		<h3 id="profile-header"> Best Robots </h3>
			Sort by:
			<button id="value">value</button>
			<button id="wins">wins</button>

			<div id="bots-value">
			<!--START TOP 5 VALUABLE ROBOTS-->
				<h4 id="profile-sub-header">Top 5 most valuable robots</h4>

				{% if top5_valuable_robots %}
						{% for robot in top5_valuable_robots %}
								name: {{ robot.name }} <br>
								type: {{robot.type}} <br><br>
						{% endfor %}
				{% else %}
					No robots found
				{% endif %}
				<!--END TOP 5 VALUABLE ROBOTS-->
			</div>

			<div id="bots-wins">

			<!--START TOP 5 WINNING ROBOTS-->
			<h4 id="profile-sub-header">Top 5 winning robots</h4>

			{% if top5_winning_robots %}
					<!--start loop-->
					{% for robot in top5_winning_robots %}
							name: {{ robot.name }}<br>
							type: {{robot.type}} <br> <br>
					{% endfor %}
					<!--end loop-->
			{% else %}
				<!--no robots found-->
				No robots found
			{% endif %}

			<!--END TOP 5 WINNING ROBOTS-->
			</div>

			<!-- area where user can expand area to see table of all the player's robots -->
			<!-- right now doesnt account for user authentication -->

			<hr>
			<h3 id="profile-header">All Robots</h3>

				{% for bot in robots %}
				name : {{ bot.name }} <br>
				type:  {{bot.type}} <br>
				{% endfor %}

			</div>

			{% if user.username == player.user.username %}
			<div id="profile-section">			
			View and upgrade all your robots here. <br>
			Select a robot:

			<!-- START ROBOT SELECTION BOX -->
			<select id = 'select_bot' class = 'select_bot'>
				{% for bot in robots %}
				<option value = "{{ bot.name }}">{{ bot.name }}</option>
				{% endfor %}
			</select>
			
			
			    {% if robots|length >= 1 %}
    	    		<div id = '1v1_complete'></div>
	    		{% endif %}

		    	{% if robots|length >= 3 %}
    		    	<div id = '3v3_complete'></div>
		    	{% endif %}

			    {% if robots|length >= 5 %}
			        <div id = '5v5_complete'></div>
                {% endif %}
			
			</div>
			{% endif %}

		<!--END ROBOTS SECTION-->


	{% else %}
		Player doesn't exist.
	{% endif %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src = "{% static 'js/bots/single-bot-table.js' %}"></script>
	<script src = "{% static 'js/bots/matchmake.js' %}"></script>
{%endblock%}


