<!DOCTYPE HTML>
{% extends 'bots/base.html' %}
{% load bots_template_tags %}
{% load staticfiles%}

{%block title_block %}
	{{player.user.username}}'s profile
{%endblock%}


{%block content_block %}
{% if player %}
	<!--START PROFILE SIDEBAR-->

	<div id="profile-section">
		<h3 id="username">{{player}}</h3>
		<h4 id="profile-sub-header"> Player information:</h4> <br>
		<b>Number of Robots:</b> {{number_of_robots}} <br>
		<b>Battles Won:</b> {{player.wins}} <br><br>
		<b>Scrap:</b> {{player.scrap}} <br><br>
		<hr>
		<b>Playing since:</b> <br>
		{{ player.user.date_joined }} <br>

		<!-- battle history -->
		<h3 id="profile-sub-header">Battle History</h3>
		<div id="bots-section">

			{% if battleHistory %}
				{% for battle in battleHistory %}
				{{battle}}<br>
				{% endfor %}
			{% else %}
				<div id='errorMessage'>No battle history</div>
			{% endif %}

		</div>
		<!-- end battle history -->

	</div>
	<!--END PROFILE SIDEBAR-->
	
	<!--START ROBOTS SECTION-->
	<div id="profile-section">
		<h3 id="profile-header"> Robots </h3>
			Top 5 robots by:
			<button id="value">Value</button>
			<button id="wins">Wins</button>


			<div id="bots-value">
			<!--START TOP 5 VALUABLE ROBOTS-->
				<h4 id="profile-sub-header">Most Valuable</h4>

				<div id="bots-section">
				{% if top5_valuable_robots %}
				<ol>
						{% for robot in top5_valuable_robots %}
						<li id="bot-list-item">
								name: {{ robot.name }} <br>
								type: {{robot.type}} <br>
						</li>
						{% endfor %}
				</ol>
				{% else %}
					<div id='errorMessage'> You don't currently own any Robots! </div>
				{% endif %}
				</div>
				<!--END TOP 5 VALUABLE ROBOTS-->
			</div>

			<div id="bots-wins">

			<!--START TOP 5 WINNING ROBOTS-->
			<h4 id="profile-sub-header">Most Victorious</h4>

			<div id="bots-section">
			{% if top5_winning_robots %}
					<!--start loop-->
					<ol>

					{% for robot in top5_winning_robots %}
					<li id="bot-list-item">
							name: {{ robot.name }}<br>
							type: {{robot.type}}<br>
					</li>
					{% endfor %}

					</ol>
					<!--end loop-->
			{% else %}
				<!--no robots found-->
				<div id='errorMessage'> You don't currently own any Robots! </div>
			{% endif %}
			</div>

			<!--END TOP 5 WINNING ROBOTS-->
			</div>

			<!-- area where user can expand area to see table of all the player's robots -->
			<!-- right now doesnt account for user authentication -->

			<div id="all-bots">
			<h3 id="profile-sub-header">All Robots</h3>
			<div id="bots-section">
			{% if robots %}
			<ul id="bot-list">
				{% for bot in robots %}
				<li id="bot-list-item">
				name : {{ bot.name }} <br>
				type:  {{bot.type}}
				</li> <br>
				{% endfor %}
			</ul>
			{% else %}
			<div id='errorMessage'> You don't currently own any Robots! </div>
			{% endif %}
			</div>

			</div>

			<button id="all">View all robots</button>

			</div>


			<div id="profile-section">

			{% if user.username == player.user.username %}
			<h3 id="profile-header">Create & Upgrade</h3>
			View and upgrade all your robots here. <br>
			{%else%}
			<h3 id="profile-header"> Robot Stats </h3>
			View all {{player.user.username}}'s robots' stats here. <br>
			{% endif %}
			Select a robot:

			<!-- START ROBOT SELECTION BOX -->
			<select id = 'select_bot' class = 'select_bot'>
				{% for bot in robots %}
				<option value = "{{ bot.name }}">{{ bot.name }}</option>
				{% endfor %}
			</select>
			<div id="bots-section">
			<div id = 'bot_table'></div>
			</div>

            {% if user.username == player.user.username %}
                <div>

                    <h4 id="profile-sub-header">Create a New Robot</h4>


                        {% if player.scrap >= 7 %}

                            Name: <input id = 'new_bot_name' type = 'text' name = 'bot_name' required><br>
                            Type:
                            <select id = 'type_selector'>
                                <option value = 'aerial'>Aerial</option>
                                <option value = 'bipedal'>Bipedal</option>
                                <option value = 'wheeled'>Wheeled</option>
                            </select>

                            <button id = 'create_bot'>Create</button>
                        </form>
                        <div id = 'create_bot_err'></div>


                        {% else %}

                            <strong>You don't have enough Scrap to make a new Robot!</strong>


                        {% endif %}

                </div>



			</div>
			    {% if robots|length >= 1 %}
    	    		<div id = '1v1_complete'></div>
	    		{% endif %}

		    	{% if robots|length >= 3 %}
    		    	<div id = '3v3_complete'></div>
		    	{% endif %}

			    {% if robots|length >= 5 %}
			        <div id = '5v5_complete'></div>
                {% endif %}
			{% endif %}

		<!--END ROBOTS SECTION-->


	{% else %}
		Player doesn't exist.
	{% endif %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src = "{% static 'js/bots/single-bot-table.js' %}"></script>
	<script src = "{% static 'js/bots/matchmake.js' %}"></script>
	<script src = "{% static 'js/bots/createbot.js' %}"></script>
{%endblock%}


