{% extends 'bots/base.html' %}
{% load staticfiles %}

{% block title_block %}
Sign Up
{% endblock %}

{% block content_block %}
	<h1>Register for SCRAPBOTS</h1>

	{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'index' %}">Return to the homepage.</a><br />
		{% else %}
			<strong>Please provide the following details</strong><br />
			<form id="user_form" method="post" action="{% url 'bots:signup' %}"
			enctype="multipart/form-data">

			{% csrf_token %}

			<!-- Display each form -->
			{{ user_form.as_p }}

			<!-- Provide a button to click to submit the form. -->
			<input type="submit" name="submit" value="Register" />
			Already have an account? <a href="{% url 'bots:signin' %}"> Sign in! </a>
			</form>
	{% endif %}



{% endblock %}

