{% extends 'bots/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Sign in
{% endblock %}


{% block content_block %}

<h1>Login to SCRAPBOTS</h1>
<form id="login_form" method="post" action="{% url 'bots:signin' %}">
{% csrf_token %}
Username: <input type="text" name="username" value="" size="50" />
<br />
Password: <input type="password" name="password" value="" size="50" />
<br />
<input type="submit" value="submit" />
Don't have an account? <a href="{% url 'bots:signup' %}"> Sign Up! </a>
</form>
{% endblock %}